@use "../../scss/mixins/mixins";
@use "../../scss/mixins/colors" as *;
@use "../../scss/mixins/media";
@use "../../scss/mixins/fonts" as *;

.dropDown {
  @include mixins.dimension(100px, 50px);
  display: block;
  margin: 0.5rem auto;

  text-align: center;

  border: 1px solid $input-border;
  border-radius: 12px;

  font-weight: 500;
  font-family: $subheading-Poppin;
  font-size: 24px;
}

select {
  // appearance: none;
  cursor: pointer;
}

option {
  cursor: pointer;
  font-weight: 500;
  font-family: $subheading-Poppin;
  font-size: 24px;
}
