@use "../../scss/mixins/mixins";
@use "../../scss/mixins/colors" as *;
@use "../../scss/mixins/media";

.employee-card {
  @include mixins.dimension(80%);
  @include mixins.flexbox(row, space-between, flex-start);
  @include mixins.wrap(flex-start);

  padding: 1rem;

  font-size: 24px;

  border-top: 2px solid $break-color;

  margin: 0 auto;

  &:last-child {
    border-bottom: 2px solid $break-color;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 6px 0;
  }

  &__body {
    margin: 0;
  }

  &__button {
    button {
      border: none;
      background: none;
      color: $button-color;

      font-weight: 600;
    }
  }

  &__img {
    @include mixins.dimension(150px);
  }

  @include media.breakpoint(tablet) {
    &__title {
    }

    &__button {
      button {
        font-weight: 600;
      }
    }
  }

  @include media.breakpoint(large-tablet) {
  }
  @include media.breakpoint(laptop) {
  }
  @include media.breakpoint(desktop) {
  }
}
