$header-bg: rgba(119, 119, 119, 0.233);

$bg: rgba(250, 246, 246, 0.493);

$button-color: rgb(48, 96, 168);

$radio-color: rgba(66, 66, 66, 0.726);

$input-border: black;

$error-red: oklch(63.7% 0.237 25.331);
