@use "../../scss/mixins/mixins";
@use "../../scss/mixins/colors" as *;
@use "../../scss/mixins/media";
@use "../../scss/mixins/fonts" as *;

html {
  background-color: $bg;
}

h1 {
  font-family: $subheading-Poppin;
}

.img__container {
  @include mixins.flexbox();

  margin: 0 auto;

  padding-bottom: 16px;
  border-radius: 32px;

  button {
    border: 2px solid $break-color;
    &:disabled {
      &:first-child {
        border-right: none;
      }
      &:last-child {
        border-left: none;
      }
    }
  }

  img {
    @include mixins.dimension(36px, 36px);
    border-radius: 32px;

    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}
.clicked {
  opacity: 50%;
}

.button {
  background-color: $button-color;
  color: $button-wht;
  font-weight: 500;

  cursor: pointer;

  font-family: $subheading-Poppin;

  @include mixins.dimension(120px, 60px);

  border-radius: 16px;

  margin-top: 1rem;

  &:hover {
    transform: scale(1.05);
  }
}

.card {
  @include mixins.dimension(100%, 100%);
  @include mixins.flexbox();
  @include mixins.wrap();

  gap: 1rem;

  margin: 0;
  padding: 0;
}

.home {
  @include mixins.dimension(100vw, 100vh);
  @include mixins.wrap();

  &__header {
    background-color: $header-bg;
    padding: 2rem 4rem;

    font-size: 24px;
    font-family: $heading-Playfair;

    margin: 0;
  }

  &__sub-title {
    @include mixins.flexbox(row, space-around);
    @include mixins.wrap();
    font-size: 18px;
    font-family: $subheading-Poppin;

    gap: 4rem;
  }

  @include media.breakpoint(tablet) {
    &__header {
      font-size: 24px;
    }

    &__sub-title {
      font-size: 18px;
    }
  }

  @include media.breakpoint(large-tablet) {
  }
  @include media.breakpoint(laptop) {
  }
  @include media.breakpoint(desktop) {
  }
}
