@use "../../scss/mixins/mixins";
@use "../../scss/mixins/colors" as *;

html {
  background-color: $bg;
}

.home {
  @include mixins.dimension(100vw, 100vh);

  &__header {
    background-color: $header-bg;
    padding: 2rem 4rem;

    font-size: 48px;

    margin: 0;
  }

  &__sub-title {
    @include mixins.flexbox(row, space-around);
    @include mixins.wrap();
    font-size: 24px;

    gap: 4rem;
  }
}
