@use "../../scss/mixins/mixins";
@use "../../scss/mixins/colors" as *;
@use "../../scss/mixins/media";

.form {
  @include mixins.dimension(100vw, 100vh);

  @include mixins.flexbox(column, flex-start, flex-start);

  padding: 0 4rem;

  &__header {
    background-color: $header-bg;
    padding: 2rem 4rem;

    font-size: 18px;

    margin: 0;

    &__button {
      border: none;
      background: none;
    }
  }

  &__container {
    width: fit-content;

    @include mixins.flexbox(column, center, flex-start);

    font-size: 24px;
    font-weight: 400;

    row-gap: 8px;

    input {
      border-radius: 8px;
      border: 1px solid $input-border;
    }

    &__subtitle {
      font-size: 18px;
      margin: 0;
      opacity: 50%;
    }
  }

  &__radio-container {
    width: fit-content;

    @include mixins.flexbox(row);

    font-size: 24px;
    column-gap: 16px;
    row-gap: 12px;

    input {
      transform: scale(2);
      accent-color: $radio-color;
    }
  }

  &__button-container {
    button {
      font-size: 24px;
    }
  }

  &__error-text {
    color: $error-red;
  }
}
